.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 120px;
}

.hand {
  width: 100vw;
  /* margin: 20px; */
  display: flex;
  /* position: fixed; */
  bottom: 0;
  border-top: 1px solid #ccc;
}

#handContainer {
  margin: 20px;
  min-height: 120px;
}

.card {
  width: 75px;
  height: 105px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.clickable-card {
  cursor: pointer;
  transition: transform 0.2s, opacity 0.4s;
}

.clickable-card:hover {
  transform: scale(1.1);
}

.card div:nth-child(2) {
  font-size: 20px;
  font-weight: normal;
}

/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #e9e9e9;
}

.header-title {
    flex: 1; /* Take up available space in the header */
    text-align: center; /* Center the title text horizontally */
    margin: 0 20px; /* Add some margin to create separation between title and icon */
}

.menu-title {
    color: #dfdede;
    margin: 0;
}

.menu {
    display: block; /* Change to block so it's initially visible */
    position: fixed;
    top: 0;
    left: -200px; /* Start the menu outside the viewport */
    width: 200px;
    height: 100vh;
    background-color: #444;
    color: #fff;
    padding: 20px;
    transform: translateX(0); /* Use transform to animate the sliding effect */
    transition: transform 0.3s ease-in-out;
    z-index: 9950;
}

.menu-open {
    transform: translateX(200px); /* Slide the menu into the viewport */
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 5px 10px;
}

.player-boxes {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px 0;
}

.player-box {
    flex: 1;
    flex-basis: 0;
    background-color: #fff;
    padding: 15px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* New CSS class for the highlighted player box */
.current-player-box {
    border: 2px solid #f9a825; /* Yellow border to indicate the current player */
}

.main-content {
    display: flex;
    margin: 20px;
}

#mainContentArea {
  overflow-y: auto;
  /* flex: 1; */
}

.left-column {
    flex: 3;
    height: calc(100vh - 160px - 275px);
    overflow: auto;
}

.right-column {
    height: calc(100vh - 160px - 275px);
    overflow: auto;
    flex: 1;
    right: 0;
    /* position: fixed; */
    margin: 20px;
    width: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.rules-content {
  max-height: calc(100% - 40px); /* Reserve space for close button and padding */
  overflow-y: auto;
}

/* Example styles for a professional input element */
input {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

/* Apply different styles when the input is focused */
input:focus {
  border-color: #007BFF;
  outline: none; /* Remove the default focus outline in some browsers */
}

input.invalid {
  border-color: #ff4d4d; /* A shade of red, change it to your preferred red color */
}

#github {
  filter: invert(1);
}

#github-div {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}